{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    SNS
</div>
{% endblock header %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
        <p>投稿者：{{ item.author }}</p>
        <a href="#" class="btn btn-primary " role="button" aria-pressed="true">{{item.goods}}いいね</a>
        <a href="#" class="btn btn-secondary " role="button" aria-pressed="true">Link</a>
    </div>
    {% endfor %}
    <a href="{% url 'logout' %}">ログアウト</a>
</div>
{% endblock content %}