{%  extends 'base.html' %}

{% block content %}
    <form class="form-signin" method="POST" action=''>{% csrf_token %}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">pelase login </h1>
        <label for="inputEmail" class="sr-only">username</label>
        <input type="text" id="inputEmail" class="form-control" name='username' placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
        <div class="checkbox mb-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
{% endblock content %}