{%  extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}"
{% endblock customcss %}
{% block content %}
    <form class="form-signin" method="POST" action=''>{% csrf_token %}
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        {% if err %}
        <font color="red">
            {{ err }}
        </font>
        {% endif %}
        {% if success %}
        <font color="blue">
            {{ success }}
        </font>
        {% endif %}
        <label for="inputEmail" class="sr-only">username</label>
        <input type="text" id="inputEmail" class="form-control" name='username' placeholder="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
        <div class="checkbox mb-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit">登録</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
{% endblock content %}